h2{
    font-size:2rem;
    text-align: center;
    border-top: 1px solid #000;
    margin-bottom:5px;
    margin-top: 50px;
}

.griglia{
    background-color: aquamarine;
    display: flex;
    max-width: 500px;
}

.griglia-alta{
    height: 250px;
}

.colonna{
    background-color: yellow;
    border: 1px solid #000;
    font-size:2rem;
    text-align: center;
    width: 100px;
    height: 100px;
}


#g2{
    flex-direction: row-reverse;
}

#g3{
    flex-direction: column;
}

#g4{
    flex-direction: column-reverse;
}

#g5{
    flex-wrap: wrap;
}
#g6{
    flex-wrap: wrap-reverse;
}

/*
allinamenti.html
*/

#g8{
    justify-content: flex-end;
}

#g9{
    justify-content: center;
}

#g10{
    justify-content: space-between;
}

#g11{
    justify-content: space-around;
}

#g12{
    justify-content: space-evenly;
}

#g14{
    align-items: flex-end;
}

#g15{
    align-items: center;
    /*justify-content: center;*/
}

#g16{
    align-items: stretch;
    /*justify-content: center;*/
}
#g16 .colonna{
    height:auto;
}


#g17{
    flex-wrap: wrap;
    align-content: flex-start;
}

#g18{
    flex-wrap: wrap;
    align-content: flex-end;
}

#g19{
    flex-wrap: wrap;
    align-content: center;
}

#g20{
    flex-wrap: wrap;
    align-content: stretch;
}
#g20 .colonna{
    height:auto;
}

#g21{
    flex-wrap: wrap;
    align-content: space-between;
}

#g22{
    flex-wrap: wrap;
    align-content: space-around;
}

/*dimensioni*/

#g23 .colonna{
    flex-grow: 1;
}

#g24 .colonna:nth-of-type(1){
    flex-grow: 1
}
#g24 .colonna:nth-of-type(3){
    flex-grow: 1
}

#g24-2 .colonna{
    width: auto;
}
#g24-2 .colonna:nth-of-type(1){
    flex-grow: 2
}
#g24-2 .colonna:nth-of-type(2){
    flex-grow: 1
}


#g25 .colonna{
    flex-basis: 50%;
    flex-grow: 0;
}

#g26 .colonna:nth-of-type(2){
    flex-shrink: 5
}




#g27 .colonna:nth-of-type(1){
    order: 3;
}
#g27 .colonna:nth-of-type(2){
    order: 1;
}
#g27 .colonna:nth-of-type(3){
    order: 2;
}

section div{
    flex-grow:0;
    flex-shrink: 1;
    flex-basis: 50%;
    flex: 0 1 50%;/*sintassi contratta*/
}


