
.quadrato{
    width: 200px;
    height: 200px;
    border: 1px solid #000;
}

/*
è una buona idea inserire questo blocco di codice in ogni progetto, per far si che le immagini non escano dai loro contenitori
img{
    max-width: 100%;
}*/


#box img{
    max-width: 100%;
}

#box2{
    overflow: hidden;
}

#box2 img {
    margin-left: -261px;
    margin-top: -296px;
}

/*=======================
background-image
*/

#box3{
    background-image: url(../img/creative-css3-tutorials.webp);
    background-size: contain;/*se la mia priorità è quella di mostrare il background, senza tagli*/
    background-repeat:no-repeat;/*blocco la ripetizione dello sfondo*/
    background-color: #000;
    background-position: center;/*lo sfondo appare centrato rispetto al contenitore*/
}

#box4{
    background-image: url(../img/creative-css3-tutorials.webp);
    background-size: cover;/*se la mia priorità è quella di tappezzare il contenitore, senza lasciare punti scoperti ed a costo di tagliare lo sfondo*/
    background-repeat:no-repeat;/*blocco la ripetizione dello sfondo*/
    background-color: #000;
    background-position: center;/*lo sfondo appare centrato rispetto al contenitore*/
}

#box5{
    background-image: url(../img/css3.png);
    background-size: 100px auto;
    background-color: #000;
    background-position: center;/*lo sfondo appare centrato rispetto al contenitore*/
}


#box6{
    background-image: url(../img/css3.png), url(../img/guida-html5-1200x1200.png);
    background-size: 70px auto, contain;
    background-repeat: no-repeat;
    background-position: left bottom;
}

/*ultima sezione*/

#box7{
    height: 100vh;
    padding: 150px 50px;
    position: relative;
}

#box7 .bg{
    background-image: url(../img/creative-css3-tutorials.webp);
    background-position: center;
    background-attachment: fixed;
    opacity: 0.5;
    height: 100%;
    width: 100%;
    position: absolute;
    left: 0;
    top: 0;
    z-index: -1;
}

h3{
    font-size:3rem;
    color:#fff;
    font-weight:bold;
    margin-bottom: 50px;
}

p{
    line-height: 1.5;
    font-size: 1.1rem;
    margin-bottom: 50px;
}

input{
    width: 200px;
    height:40px;
    border-radius: 5px;
    display:block;
    border: none;
}

button{
    border-radius: 5px;
    border: none;
    background-color:orange;
    padding: 10px 30px;
    width: 200px;
}